html, body{
    background-color: rgb(245, 245, 245);
    margin: 0;
    height: 100%;
}
#menu{
    background-color: rgb(245, 245, 245);
    display: block;
    width: 100%;
    height: 15%;
    margin-bottom: 30px;
    position: relative;

}
#logo{
    margin-left: 15%;
}
#menu ul{
    display: block;
    float: right;
    margin-right: 5%;

}
#menu ul li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 38px;
    
}
#menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Trebuchet MS, sans-serif;
}
#menu li a:hover{
    background-color: transparent;
    border-top: 4px solid rgb(153, 0, 54);
    color: rgb(153, 0, 54);
    padding-top: 50px;
}
#menusvg{
    display: none;
}

#slideshow{
    position: inherit;
    display: block;
    background-image: url("paisagem.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 47%;
    overflow: hidden;
}
#slideshow ul{
    margin-top: 6%;
    margin-left: 40%;
    position: relative;
}
#slideshow ul li{
    list-style: none;
    display: inline;
}

.selector{
    background-color: rgba(0, 0, 0, 0.3);
    color: blue;
    fill: white;
    position: absolute;
    display: block;
    top: 38%;
}
#after{
    float: right;
    margin-left: 80%;

}
#before{
    margin-left: 5%;
    
}


.selector:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5)
}

#boxinformation{
    position: relative;
    margin-top: 5%;
    margin-left: 20%;
    max-width: 27%;
    width: auto;
    height: auto;
    border: 0.2em solid rgb(73, 111, 140); 
    overflow: hidden;
    
}

#svg circle{
    border-radius: 50%; 
}
#svg circle:hover{
    cursor:pointer;
}
#svg circle:active{
    transition: 0.5s ease-in-out;
    fill: rgba(0, 0, 0, 0.26);
}

#introduct{
    max-width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.introduct{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 245, 245);
    width: 21%;
    height: 50%;
    border: 50px solid transparent;
    display: inline-block;
    max-width: 15%;
}
.introduct p{
    max-width: 80%;
    font-family: Trebuchet MS, sans-serif;
    text-align: justify;
}

.intro{
    border-radius: 30%; 
    background-color: black;
    margin-right: 20px; 
    transition: .3s ease-in-out;
}
.title:hover .intro{
    cursor: pointer;
    background-color: rgb(153, 0, 54);
    transition: .3s ease-in-out;
}
.title{
    text-decoration: none;
    color:rgb(153, 0, 54);
    font-family: Trebuchet MS, sans-serif;
    text-align: justify;
}
.titlep{
    font-weight: 500;
    font-size: 1.3em;
    margin-left: 50px;
    margin-top: -36px;
}
.more{
    text-decoration: none;
    color:rgb(153, 0, 54);
    font-family: Trebuchet MS, sans-serif;
    float: right;
}

@media screen and (max-width: 950px){
    #menu ul{
        display: none;
    }
    #menusvg{
        fill: rgb(73, 111, 140);
        display: block;
        position: relative;
        float: right;
        margin-top: 35px;
        margin-right: 8%;
        
        
    }
    .selector{
        top: 28%;
    }
    #boxinformation{
        border: 0.1em solid rgb(73, 111, 140); 
    }
    #introduct{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (max-width: 500px){
    #slideshow ul{
        margin-top: 2%;
        margin-left: 20%;

    }
    .introduct{
        display: block;
        max-width: 70%;
        width: 60%;
    }
    .selector{
        top: 23%;
    }
    #after{
        margin-left: 82%;
    }

}
